.input {
  width: 100%;
  border: none;
  padding: 10px;
  background-color: #ecf0f1;
  outline: none;
  border-radius: 3px;
  display: block;
  margin: 10px auto;
}

.registerButton {
  display: block;
  border-radius: 3px;
}
