.membersList {
  margin-top: 0px;
  padding-left: 0px;
}

.membersList > li {
  list-style: none;
  padding: 10px 5px;
  border-bottom: 2px solid white;
}

.leaveChatButton {
  background-color: rgb(175, 0, 0);
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
