.button {
  width: 100%;
  background-color: #34495e;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  color: white;
}
