.inputTitle {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bolder;
  display: block;
  color: #34495e;
}

.descriptionTextArea {
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  border: none;
  border-radius: 3px;
  background-color: white;
  color: #34495e;
  margin-bottom: 20px;
  padding: 5px;
}

.regularInput {
  border: none;
  background-color: white;
  border-radius: 3px;
  color: #34495e;
  padding: 8px;
  margin-bottom: 20px;
  width: 100%;
}

.descriptionTextArea:focus,
.regularInput:focus {
  outline: none;
}
