.pendingButton {
  width: 100%;
  padding: 15px 32px;
}

.container {
  text-align: center;
}

.box {
  border: black 1px solid;
}

.createButton {
background-color: rgb(175, 0, 0);
border: none;
outline: none;
padding: 10px;
width: 100%;
font-size: 16px;
font-weight: bold;
color: white;
}